@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family: 'Permanent Marker', sans-serif;
}

/*This is for the header section*/

header {
    background: white;
}

header>h1 {
    color: black;
    text-align: center;
}

/*This is for the game section*/

h3 {
    border: 3px solid black;
    width: 300px;
    margin: 10px auto;
    background-color: #f5f5f5;
}

#game-section {
    text-align: center;
}

#game-section>p {
    font-size: 250%;
    border: 3px solid black;
    width: 100px;
    margin: 10px auto;
    background-color: #f5f5f5;
}

#game-section {
    width: 100%;
    background: url('../images/backgroundimage.jpg')
}

/*This is for the results section*/
#results {
    margin: 10px auto;
    border: 3px solid black;
    width: 250px;
    background-color: #f5f5f5;
}

#player-label {
    float: left;
    padding-left: 15px;
}

#comp-label {
    float: right;
    padding-right: 15px;
}

.social-link {
    text-align: center;
    list-style-type: none;
    font-size: 140%;
    padding: 5%;
}










/* testing background layout*/

#player {
    margin-top: 10%;
    height: 280px;
    width: 280px;
    margin: 10px auto;
    background-color: blue;
}

#computer {
    margin-bottom: 10%;
    height: 280px;
    width: 280px;
    margin: 10px auto;
    background-color: green;
}