@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family: 'Permanent Marker', sans-serif;
}

/* testing background layout*/

#player {
    height: 100px;
    background-color: blue;
}

#computer {
    height: 100px;
    background-color: green;
}